# Descripción 
 Esto analiza y visualiza datos

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_fc0b7e0c35e148bdbe0403965eae7c37 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='zrXY9dA9mzHjz-GtoqNdr4X2JoUb_QobO5CoaOECDPxx',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

body = client_fc0b7e0c35e148bdbe0403965eae7c37.get_object(Bucket='jupyternotebooks-donotdelete-pr-mwlszv05akqtnn',Key='shirts.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,OrderID,Quantity,Price,RankInOrder,Date,ShirtType,MSRP,ShirtID,City,Country,ShirtSize
0,10147,33,97.89,4,9/5/2003,Dress Shirts,115,S12_4675,Brickhaven,USA,Medium
1,10151,30,40.31,4,9/21/2003,Dress Shirts,35,S24_2840,Oulu,Finland,Large
2,10313,40,100.00,7,10/22/2004,Dress Shirts,147,S10_4962,Vancouver,Canada,Medium
3,10211,41,100.00,14,1/15/2004,Polo Shirts,95,S10_1678,Paris,France,Medium
4,10366,49,100.00,2,1/10/2005,Dress Shirts,132,S18_2870,Charleroi,Belgium,Medium